/**
 * @package Inline Spoilers
 */

.wp-block-inline-spoilers-block {
	border: 1px dotted #ccc;
}

.wp-block-inline-spoilers-block .spoiler-title {
	align-items: center;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    padding: 14px;
    background-color: #f8f9f9;
    font-size: 13px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.wp-block-inline-spoilers-block .spoiler-title label {
	display: block;
    align-items: center;
    margin-right: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    background: url(data:image/gif;base64,R0lGODlhCQAJAMQeAOLt+ff8//z+/4CRxo2by7vF6a254X6PxICQw87a74CQxuXo84CQxM/b7/H6/v7+/oGRxouayoGSxv7+/8LN7IqZyv7//4KSxur0/MrV74OTx9Ld8trl9gwMDP///wAAACH5BAEAAB4ALAAAAAAJAAkAAAU4oFcpwzFAkWgUVLZxCQGxLgdgGtS+t6NJmY5QOEFcNo/kZGLRXGwYR0DQjDSiU8uCIJJIGJdLKgQAOw==) no-repeat left center;
    width: 10px;
}

.wp-block-inline-spoilers-block .spoiler-title input {
	background-color: #fff;
    font-weight: 400;
    width: -webkit-fill-available;
}

.wp-block-inline-spoilers-block .components-autocomplete {
    padding: 14px;
}
