/**
 * @package Inline Spoilers
 * @version 1.0
 * @since 1.0
 */
 
div.spoiler-wrap {
	background-color: #E9E9E6;
	border-color: #C3CBD1;
	border-style: solid;
	border-width: 1px 1px 1px 2px;
    clear: both;
    display:block;
    margin: 6px auto;
    padding: 0;
    width: 95%;
}
	div.spoiler-head {
		background: url(../images/collapsed.gif) no-repeat left center;
		color: #2A2A2A;
		cursor: pointer;
		display: block;
		font-weight: bold;
		line-height: 1.5em;
		margin-left: 6px;
		padding: 0 6px 0 14px;
		text-align: left;
	}
		div.spoiler-head.expanded {
			background: url(../images/expanded.gif) no-repeat left center;
		}
	div.spoiler-body {
		background: #F5F5F5;
		border-top:1px solid #C3CBD1;
		padding: 2px 6px;
	}